<section id="about">
    <% if (config.description) { %>
      <%- markdown(config.description) %>
    <% } %>
    <p style="display: inline">
      <% if (theme.customize.social_links) { %>
        Find her on
        <ul id="socialinfo">
          <% for(var i in theme.customize.social_links) { %>
            <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>"><i class="fa fa-<%= i %>"></i></a></li>
          <% } %>
        </ul> or read her <a href=https://fhinkel.github.io/images/Hinkelmann.pdf>Resume</a>.
      <% } %>
    </p>
    <p style="display: inline"><b>Please get in touch via email (franziska.hinkelmann@gmail.com) with any inquiries.</b></p>
  </section>

  <% if (site.data.oss) { %>
    <section id="oss">
      <span class="h1">Open Source Contributions</span>
      <ul class="project-list">
        <% for(var obj in site.data.oss){ %>
          <li class="project-item">
            <a href="<%= site.data.oss[obj].url %>"><%= site.data.oss[obj].name %></a>: <%= site.data.oss[obj].desc %>
          </li>
        <% } %>
      </ul>
    </section>
    <% } %>
    
    
    <% if (site.data.projects) { %>
    <section id="projects">
        <span class="h1">Projects</span>
      <ul class="project-list">
        <% for(var obj in site.data.projects){ %>
          <li class="project-item">
            <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
          </li>
          <li><br></li>          
        <% } %>
      </ul>
    </section>
    <% } %>
  



  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="content" itemprop="articleBody">
      <%- page.content %>
    </div>
  </article>
