<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <p style="display: inline">
    <% if (theme.customize.social_links) { %>
      Find her on
      <ul id="socialinfo">
        <% for(var i in theme.customize.social_links) { %>
          <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>"><i class="fa fa-<%= i %>"></i></a></li>
        <% } %>
      </ul>.
    <% } %>
  </p>
</section>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <% if (page.search) { %>
    <%- partial('_partial/search') %>
  <% } %>
  <div class="content" itemprop="articleBody">
    <%- page.content %>
  </div>
</article>
